---
layout: default
title: Seamus Barnes
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

    <h1>Running References</h1>
    <ul class="posts">
      {% for item in site.reference %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>

  <h1>Projects</h1>
  <ul class="posts">
    <li><a href="https://github.com/seamusbarnes/">github.com/seamusbarnes:</a> A placeholder for projects</li>
  </ul>
</div>
