---
layout: default
title: "Links"
includelink: true
permalink: /links/
---

<div class="home">
    <h1>Links</h1>

    <ul class="posts">
        {% for post in site.posts %}
        {% if post.categories contains "links" %}
        <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <p>{{ post.excerpt }}</p>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>