<!DOCTYPE html>
<html>

{% include head.html %}

<head>
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/miscellaneous/monkee-favicon.ico">
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js">
    </script>
  <script type="text/javascript">
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
  </script>
  <!-- Other head content -->
</head>

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrap">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  <script>
    document.querySelectorAll('a').forEach(link => {
      if (link.hostname !== window.location.hostname) {
        link.setAttribute('target', '_blank');
        link.setAttribute('rel', 'noopener noreferrer');
      }
    });
  </script>

</body>

</html>